*.iml
.gradle
.kotlin
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.env
debug.keystore
!app-debug.apk
!app-release.apk
!app-release-full.apk
!AlyemenServices-release.apk
!app/src/main/assets/app-release.apk
!assets/app-release.apk


